html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}


/*-------- nav bar --------*/

.nav-bar{
    width: 100%;
    position: fixed;
    z-index: 9;
}

.nav-bar a{
    text-decoration: none;
    color: #ffffff;
}

.first-line{
    height: 20px;
    background: #13335D;
    padding: 10px 20px;
}

.first-line i{
    color: #ffffff;
    margin-right: 10px;
}

.first-line span{
    color: #ffffff;
    margin-right: 15px;
    font-weight: 100;
}

.second-line{
    height: 30px;
    background: #44CCFF;
    padding: 10px 20px;
}

.second-line img{
    height: 30px;
}

.menu-list{
    list-style: none;
    line-height: 30px;
    margin: 0;
    float: right;
}

.menu-list-short{
    list-style: none;
    line-height: 20px;
    margin: 0;
    float: right;
}

.menu-list li{
    display: inline;
    margin: 0 20px 0 30px;
    color: #ffffff;
}

.menu-list-short li{
    display: inline;
    margin: 0 20px 0 30px;
    color: #ffffff;
}

.menu-list a:hover, .menu-list-short a:hover{
    color: #7F7979;
    border-bottom: 1px solid #7F7979;
}

.fa-bars{
    color: #ffffff;
    float: right;
    margin: 12px 5px 0 0;
    display: none
}

.mobile-menu{
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: #ffffff;
    z-index: 99;
    display: none;
}

.mobile-menu-list{
    text-align: center;
    list-style: none;
    padding: 0;
    margin: 100px 0 0 0;
}

.mobile-menu-list li, .mobile-menu-list li a {
    text-decoration: none;
    font-size: 24px;
    color: #44CCFF;
    margin: 10px 0;
}





@media only screen and (max-width: 390px) {
    .fa-envelope, #email-address, .menu-list, .menu-list-short{
        display: none !important;
    }
    .first-line{
        text-align: center;
    }
    .fa-bars{
        display: block;
    }
}

/*-------- header  --------*/

.header img{
    margin-top: 80px;
    width: 100%;
}

.welcome-text{
    position: absolute;
    top: 300px;
    left: 100px;
    font-size: 32px;
    color: #ffffff;
    line-height: 30px;
}


/*-------- description  --------*/

.description{
    padding: 50px 80px;
    text-align: justify;
    font-weight: 300;
}

/*-------- side by side  --------*/

.side-by-side-section{
    display: flex;
}

.left-box{
    width: 50%;
    min-height: 100%;
}

.left-box img{
    width: 100%;
    height: 100%;
}

.right-box{
    width: 50%;
    background: #f4f4f4;
    min-height: 100%;
    padding: 100px 80px 100px 50px;
    text-align: justify;
}

.right-box h2{
    font-size: 28px;
    font-weight: 800;
    color: #7F7979;
    margin-bottom: 40px;
}


/*-------- images --------*/

.images{
    padding: 40px 60px 80px 60px;
    text-align: justify;
}

.images h2, .my-form h2{
    text-align: center;
    margin-bottom: 50px;
}

.item{
    display: inline-block;
}

.stretch {
    width: 100%;
    display: inline-block;
}

/*-------- form --------*/


.my-form{
    background: #f4f4f4;
    padding: 20px 40px;
}

form{
    display: block;
    margin: auto;
}

input {
    height: 30px;
    padding: 5px 10px;
    font-size: 15px;
}

input[type=submit]{
    border: 0;
    float: right;
    padding: 10px 100px;
    height: 40px;
    font-size: 15px;
    background-color: #13335D;
    color: #ffffff;
}

input[type=submit]:hover{
    background-color: #44CCFF;
}

/*-------- footer --------*/

.footer{
    text-align: center;
    background-color: #44CCFF;
    color: #ffffff;
    padding: 10px 0;
}

/*-------- cookie --------*/

.cookie-banner{
    position: fixed;
    bottom: 0;
    background: #ffffff;
    width: 100%;
    padding: 20px;
}

.accept-cookies-btn{
   background-color: #13335D;
    color: #ffffff;
    padding: 10px 30px;
    border: 0;
}
.accept-cookies-btn:hover{
    background-color: #44CCFF;

}


